body {
  --text-color: #222;
  --background-color: #fff;
  --a-color: #0033cc;
}

body.dark-mode {
  --text-color: #eee;
  --background-color: #121212;
  --a-color: #809fff;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

a {
  color: var(--a-color);
}
